.git
.mypy_cache
.venv
.env
*.log

backend/staticfiles
backend/**/__pycache__
backend/.pytest_cache

frontend/node_modules
frontend/.next
frontend/coverage

db/dumps/*
!db/dumps/.gitkeep

**/.DS_Store
